body{
    box-sizing: border-box;
}

.button{
    border: 2px black block;
    width: 10em;
    
}
hr{
    width: 89%;
}
.section-container{
    border: 2px solid rgb(180, 240, 240);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: azure;
}

.break-space{
    display: flex;
    gap: 10px;
    
}
.p-container{
    display: flex; 
    gap: 10px;
    font-size: 22px;
    justify-content: left;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-tag{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    color:rgb(224, 9, 9);
}
.ID-tag{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    color: rgb(0, 140, 255);
}

.tel{
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    color: rgb(11, 228, 94);
}

.adress-font{
    font-size: 21px;
}